@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Conquer. Crush. No Mercy.</h1>
    <p class="lead">The day you conquered the world.</p>
    <p>@Html.ActionLink("Start","Index","Play", null, new { Class="btn btn-primary btn-lg"})</p>
</div>
