@using tdyctw.Code.Extensions;
@{
    ViewBag.Title = "TDYCTW";
}
<div style="text-align:center;">
    <h1 class="fontLoader1">The day you conquered the world</h1>
    <p> @Html.ActionLink("Begin", "index", "play")</p>
</div>
