
@{
    ViewBag.Title = "TDYCTW";
}

<h2>The Day You Conquered The World</h2>
<div id="gamecontainer"></div>
<p>Current players:</p>
<ul id="playerList"></ul>

<script src="~/Scripts/phaser.min.js"></script>
<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        var sandboxhub = $.connection.sandboxHub;
        //$.connection.hub.logging = true;

        sandboxhub.client.broadcastJoinGame = function (message) {
            $("#playerList").append("<li>" + message + "</li>");
        };

        $.connection.hub.start().done(function () {
            var id = generateUID();
            sandboxhub.server.joinGame(id);
        });
    });
</script>
